*,
*::before,
*::after {
    --azul-profundo: #01080E;
    --azul-escuro: #041832;
    --azul-medio: #144480;
    --azul-destaque-light: #1875E9;
    --azul-destaque-dark: #3985D8;
    --cinza-escuro: #222222;
    --cinza-medio: #C5C5C5;
    --cinza-claro: #F2F2F2;
    --branco: #FFFFFF;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--branco);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: var(--cinza-escuro);                                                            
    box-sizing: border-box;
    text-align: center;
}

/* CABEÇALHO */

.cabecalho_container {
    background-color: var(--branco);
    height: 80px;
    width: 100%;
    padding: 0 25px;
}

.logo_item {
    padding: 15px 0px;
    cursor: pointer;
}

.pesquisar_input {
    padding: 8px;
    border: 2px solid var(--cinza-claro);
    border-radius: 32px 0px 0px 32px;
    font-size: 16px;
}

.pesquisar_input-teclado{
    position: absolute;
    right: 16%;
    top: 30%;
}

.pesquisar_btn {
    background-color: var(--cinza-claro);
    border: 0px;
    border-radius: 0px 32px 32px 0px;
    padding: 8px;
    padding-right: 15px;
    border-left: none;
    cursor: pointer;
}

.cabecalho_audio {
    border: 0px;
    background-color: var(--branco);
}

.cabecalho_videos {
    background-image: url(../img/topbar/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.cabecalho_apps {
    background-image: url(../img/topbar/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_notificacoes {
    background-image: url(../img/topbar/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.cabecalho_avatar {
    background-image: url(../img/topbar/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 33px;
}

.cabecalho_switch {
    position: relative;
    display: inline-block;
    padding: 13px 30px 13px 13px;
    width: 60px;
    height: 34px;
  }
  
  .cabecalho_switch-input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .cabecalho_switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cinza-claro);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .cabecalho_switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--branco);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  .cabecalho_switch-input:checked + .cabecalho_switch-slider {
    background-color: var(--azul-destaque-light);
  }
  
  .cabecalho_switch-input:focus + .cabecalho_switch-slider {
    box-shadow: 0 0 1px var(--cinza-claro);
  }
  
  .cabecalho_switch-input:checked + .cabecalho_switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

main {
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 70px;
}

/* BARRA LATERAL */

.menu_container {
    position: fixed;
    top: 80px;
    left: 0;
    width: 240px;
    height: calc(100vh - 80px);
    background-color: var(--branco);
    overflow-y: auto;
}

.cabecalho_menu {
    padding: 10px 0;
    border-bottom: 1px solid var(--azul-medio);
}

.titulo_menu > h2 {
    font-size: 0.9em;
    padding: 8px 15px;
    text-align: left;
    color: var(--cinza-escuro);
    font-weight: 700;
}

.icones_menu a {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    gap: 25px;
    align-items: center;
    text-decoration: none;
    color: var(--cinza-escuro);
}

.icones_menu a:hover {
    background-color: var(--cinza-claro);
}


/* SECAO SUPERIOR */

.superior_secao_container {
    height: 63px;
    color: var(--branco);
    font-size: 16px;
    background-color: var(--branco);
    padding: 0 20px;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    /* transition: transform 0.5s ease-in-out;
    transform: translateX(0); */
}

.superior_secao_container-wrapper{
    position: relative;
}

.superior_item {
    color: var(--cinza-escuro);
    font-size: 16px;
    background-color: var(--cinza-claro);
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    width: 200px;
}

.superior_item:hover {
    color: var(--branco);
    background-color: var(--azul-destaque-light);
    transition: .5s;
}

.superior_slider{
    position: absolute;
    right: 0%;
    width: 4%;
    height: 100%;
    background-color: var(--branco);
}

/* SEÇÃO VÍDEOS */

.videos_container {
    color: black;
    padding: 153px 20px 10px 20px;
}

iframe{
    border-radius: 10px;
    width: 100%;
    height: 62%;
}

.descricao-video .img-canal{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.descricao-video .titulo-video {
    font-weight: 700;
    color: var(--cinza-escuro);
}

.descricao-video .titulo-canal {
    font-size: 14px;
    color: var(--cinza-escuro);
}  

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }

    /* ESTILOS DA SECAO SUPERIOR */

    .superior_secao_container {
        border-top: var(--azul-medio) 1px solid;
        border-bottom: var(--azul-medio) 1px solid;
        width: auto;
        left: 82px;
    }

    /*ESTILOS SEÇÃO VÍDEOS */

    .videos_container {
        padding-left: 90px;
        padding-right: 17px;
    }

}

@media(min-width: 1440px) {

    /* SEÇÃO SUPERIOR */

    .superior_secao_container {
        left: 247px;
    }

    /* ESTILOS VIDEOS */

    .videos_container {
        padding-right: 10px;
        padding-left: 248px;
    }

}

/* RESPONSIVIDADE DA BARRA LATERAL*/

@media (max-width: 833px) {
    .menu_container {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cabecalho_menu {
        border-bottom: none;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .cabecalho_menu:nth-child(2),
    .cabecalho_menu:nth-child(3),
    .cabecalho_menu:nth-child(4) {
        display: none; /* Esconde as outras listas em telas pequenas */
    }

    .icones_menu a {
        flex-direction: column;
        gap: 5px;
        font-size: 11px;
        padding: 5px;
    }
}

@media (min-width: 834px) {
    main {
        display: grid;
        grid-template-columns: 240px auto;
        margin-top: 80px;
    }
}